*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common{
 width: 240px;
 height: 240px;
 border-radius: 8px;
 background: #995DB5;
 padding: 8px;
 gap: 8px;
 display: flex;
}
.temu{
    background-color:whitesmoke ;
    width: 1440px;
    height: 1024px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 85px 180px;
}


.item{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #F7941F;
    border: 1px solid #000000



}
.bir{
    display: flex;
    gap: 8px;
}
.ikki{
    gap:8px ;
    flex-direction: column;

}

.uch{
    gap: 7px;
    flex-wrap:wrap;
    align-content: flex-start;
}
.tort{
   justify-content: space-between;



}
.olti{
    flex-direction: row-reverse;
    gap: 8px;
}
.yetti{
    justify-content: center;
}
.sakkiz{
    justify-content: space-between;

}

.toqqiz{

}
.on{
    justify-content: end;
    gap: 8px;
}
.onbir{
    justify-content: center;
    padding-top:100px ;
}
.onikki{
    justify-content: space-between;
    padding: 8px;
}